/*全局设置*/
*{
	margin: 0;
	padding: 0;
}
body{
	background: rgb(245,245,245);
}
/*显示隐藏搜索框*/
.hide_search{
	width: 100%;
	min-width: 1230px;
	margin: 0 auto;
	background-color: red;
	position: fixed;
	z-index: 9999;
}
.serach_ct{
	width: 1230px;
	min-width: 1230px;
	height: 43px;
	background-color: red;
	margin: 0 auto;
}
.serach_ct .ct_pic{
	float:left;
	margin-top: 8px;
	height: 26px;
	width: 156px;
	overflow: hidden;
}
.serach_ct .serach_input{
	float: left;
	width: 486px;
	height: 43px;
	margin-left: 300px;
}
.serach_input input{
	float: left;
	width: 400px;
	height: 39px;
	outline: none;
	border:none;
	margin-top: 2px;
	margin-left: 2px;
}
.serach_input .input_bt{
	float: left;
	width: 80px;
	height: 39px;
	line-height: 39px;
	text-align: center;
	color: white;
	font-size: 18px;
	margin-top: 2px;
	letter-spacing: 2px;
	margin-left: 2px;
}



/*头部导航区*/
#nav{
	width: 100%;
	min-width: 1230px;
	/*height: 100%;*/
	background: #f2f2f2;
	border: 1px solid #ccc;
	border-top: none;
}
#nav #nav_box{
	width: 1230px;
	min-width: 1230px;
	height:32px;
	line-height: 32px;
	margin: 0 auto;
}
#nav .login{
	color: #999;
	line-height: 30px;
	width: 218px;
	height: 30px;
	display:inline-block;
}
#nav .login .denglu{
	color: #999;
	line-height: 32px;
	padding-left: 13px;
}
#nav .login .denglu:hover{
	color: #ff0036;
}
#nav #nav_list{
	width: 539px;
	height: 30px;
	float: right;
}
#nav #nav_list li{
	float: left;
	height: 30px;
	line-height: 30px;
	padding:0 10px;
}
#nav #nav_list a{
	color: #999;
}
#nav #nav_list li:nth-child(1){
	position: relative;
	width: 54px;
}
#nav #nav_list_item .list_item1{
	padding-right: 15px;
	line-height: 32px;
	width: 50px;
}
#nav #nav_list .sanjiao{
	border-width: 3px;
	border-style: solid dashed dashed;
	border-color: #ccc transparent transparent;
	position: absolute;
	top: 14px;
	right: 6px;
	z-index: 1000;
}
#nav #nav_list .yincang1{
	position: absolute;
	left: 0px;
	top: 32px;
	padding: 8px 10px;
	width: 80px;
	border: 1px solid #ccc;
	display: none;
	background: #fff;
}
#nav #nav_list .nav_list_item:hover{
	background: #fff;
	border-bottom: 1px solid transparent;
}
#nav #nav_list .nav_list_item:hover .lianjie{
	color: red;
}
#nav #nav_list .nav_list_item:hover>.sanjiao{
	transform:rotateX(180deg);
	top: 10px;
	transition:all 0.4s;
}
#nav #nav_list .nav_list_item:hover>.yincang1{
	display: block;
}
#nav #nav_list .nav_list_item .item:hover{
	color: red;
	text-decoration: underline;
}
#nav #nav_list .nav_list_item:hover>.space{
	display: block;
}
#nav #nav_list .space{
	width: 74px;
	height: 1px;
	background: #fff;
	position: absolute;
	left: 0;
	top: 1px;
	z-index: 1001;
	display: none;
}
#nav #nav_list li:nth-child(2){
	width: 70px;
	padding-left: 20px;
	text-align: center;
	background: url(../image/car.png) 10px 7px no-repeat;
	background-size: 14px 14px;
}
#nav #nav_list li:nth-child(2):hover a{
	color: red;
}
#nav #nav_list .nav_list_item2{
	position: relative;
	padding-left: 0;
	padding-right: 15px;
}
#nav #nav_list .list_item2{
	padding-left: 10px;
}
#nav #nav_list .yincang2{
	width: 64px;
	padding: 8px 10px;
	position: absolute;
	left: 0;
	top: 32px;
	border: 1px solid #ccc;
	display: none;
	background: #fff;
}
#nav #nav_list .sanjiao2{
	border-width: 3px;
    border-style: solid dashed dashed;
    border-color: #bbb transparent transparent;
	position: absolute;
	right: 4px;
	top: 13px;
}
#nav #nav_list .nav_list_item2:hover{
	background: #fff;
}
#nav #nav_list .space2{
	width: 61px;
	height: 1px;
	background: #fff;
	position: absolute;
	left: 0;
	z-index: 1001;
	display: none;
}
#nav #nav_list .nav_list_item2:hover .sanjiao2{
	transform:rotateX(180deg);
	top: 10px;
	transition:all 0.4s;
}
#nav #nav_list .nav_list_item2:hover .space2{
	display: block;
}
#nav #nav_list .nav_list_item2:hover .yincang2{
	display: block;
}
#nav #nav_list .nav_list_item2 .item:hover{
	color: red;
	text-decoration: underline;
}
#nav #nav_list .line{
	width: 1px;
	height: 14px;
	background: #ccc;
	position: relative;
	top: 8px;
	padding: 0;	
	margin-left: 5px;
	margin-right: 5px;
}
#nav #nav_list .nav_list_item3{
	position: relative;
	text-indent:13px;
	background: url(../image/bg02.png) 0px 8px no-repeat;
}
#nav #nav_list .lianjie3{
	/*padding: 0 8px;*/
}
#nav #nav_list .lianjie3:hover{
	color: red;
}
#nav #nav_list .nav_list_item4{
	padding-left: 5px;
}
#nav #nav_list .lianjie4:hover{
	color: red;
}
#nav #nav_list .nav_list_item5{
	position: relative;
	width: 50px;
	padding-left: 10px;
	padding-right: 15px;
}
#nav #nav_list .lianjie5:hover{
	color: red;		
}
#nav #nav_list .sanjiao3{
	border-width: 3px;
    border-style: solid dashed dashed;
    border-color: #bbb transparent transparent;
	position: absolute;
	right: 4px;
	top: 13px;
}
#nav #nav_list .nav_list_item5:hover .sanjiao3{
	transform:rotateX(180deg);
	top: 10px;
	transition:all 0.4s;
}
#nav #nav_list .nav_list_item5:hover{
	background: #fff;
}
#nav #nav_list .yincang3{
	padding: 8px 10px;
	width: 135px;
	border: 1px solid #ccc;
	position: absolute;
	top: 32px;
	right: 0px;
	display: none;
	background: #fff;
	z-index: 998;
}
#nav #nav_list .busyer{
	/*padding-left:px;*/
	width: 130px;
	border-bottom: 1px dashed #000;
}
#nav #nav_list .title_busyer{
	color: #666;
	font-weight: 700; 
}
#nav #nav_list .helper{
	border-bottom: 1px dashed #000;
	width: 130px;
}
#nav #nav_list .nav_list_item5:hover .yincang3{
	display: block;
}
#nav #nav_list .nav_list_item5 .item:hover{
	color: red;
	text-decoration: underline;
}
#nav #nav_list .nav_list_item5 .item{
	padding: 2px 7px;
	color: #999;
}
#nav #nav_list .space3{
	width: 75px;
	height: 1px;
	background: #fff;
	position: absolute;
	left: 0;
	z-index: 1001;
	display: none;
}
#nav #nav_list .nav_list_item5:hover .space3{
	display: block;
}

#nav #nav_list .nav_item7{
	position: relative;
	margin-left: 8px;
	padding-right: 10px;
	padding-left: 10px;
}
#nav #nav_list .sanjiao4{
	border-width: 3px;
    border-style: solid dashed dashed;
    border-color: #bbb transparent transparent;
	position: absolute;
	right: 3px;
	top: 13px;
	z-index: 1001;
}
#nav #nav_list .nav_item7:hover .sanjiao4{
	transform:rotateX(180deg);
	top: 10px;
	transition:all 0.4s;
}	
#nav #nav_list .nav_item7:hover{
	background: #fff;
}
#nav #nav_list .nav_item7:hover>.nav_hid4{
	display: block;
}
#nav #nav_list .nav_xian4{
	width: 78px;
	height: 1px;
	background: #fff;
	position: absolute;
	left: 0;
	z-index: 1001;
	display: none; 
}
#nav #nav_list .nav_item7:hover>.nav_xian4{
	display: block;
}
#nav #nav_list .nav_item7 .bg{
	position: absolute;
	top: 2px;
	left: -4px;
}
#nav #nav_list .nav_hid4{
	position: absolute;
	top: 30px;
	right: 0;
	width: 1198px;
	border: 1px solid #ccc;
	padding: 25px 0;
	display: none;
	background: #fff;
	z-index: 998;
}
#nav #nav_hid4 .hid4{
	float: left;
	padding-left: 30px;
}
#nav #nav_hid4 .small_box{
	width: 460px;
}
#nav #nav_hid4 .last{
	width: 170px;
}
#nav #nav_hid4 .tit{
	font-size: 16px;
	padding-bottom: 8px;
}
#nav #nav_hid4 .hid4 span{
	display: inline-block;
	padding: 1px 3px;
	width: 70px;
	color: #666;
}
#nav #nav_hid4 .hot_box a:hover{
	color: #f56a00;
	text-decoration: underline;
}
#nav #nav_hid4 .hot{
	color: #f56a00;
}
#nav #nav_hid4 .market{
	color: #2263d4;
}
#nav #nav_hid4 .market_box a:hover{
	color: #2263d4;
	text-decoration: underline;
}
#nav #nav_hid4 .market_box{
	border-left: 1px solid #ccc;
	border-right: 1px solid #ccc;
}
#nav #nav_hid4 .help_box{
	color: #666;
}
#nav #nav_hid4 .help_box a:hover{
	color: #666;
	text-decoration: underline;
}
/*头部内容区*/
.header_content{
	width: 100%;
	min-width: 1230px;
	height: 130px;
	/*background:pink;*/
	margin: 0 auto;
}
.header_content .dis_content{
	width: 1230px;
	height: 130px;
	margin: 0 auto;
	/*background: cyan;*/
}
.header_content .dis_content img{
	width: 240px;
	height: 130px;
	float: left;
}
.header_content .dis_content .search{
	width: 602px;
	height: 45px;
	background:red;
	margin-left: 100px;
	margin-top: 40px;
	float: left;
}
.search input{
	width: 500px;
	height: 41px;
	border:none;
	outline: none;
	margin-top: 2px;
	margin-left: 2px;
	float: left;

}
.search .btn{
	width: 100px;
	height: 45px;
	line-height: 45px;
	text-align: center;
	color: white;
	font-weight: bold;
	font-size: 16px;
	background:red;
	float: left;
}
.header_content .dis_content .hot_search{
	width: 550px;
	height: 40px;
	display: block;
	float: left;
	margin-left: 90px;
}
.header_content .dis_content .hot_search a{
	color: rgb(153,153,153);
}
 .header_content .dis_content .hot_search .selected{
	color:rgb(255,0,54);
}
.header_content .dis_content .hot_search li{
	float: left;
	margin-left: 12px;
	line-height: 40px;
	font-size: 14px;
	text-align: left;
}
.header_content .dis_content .hot_search i{
	width: 1px;
	height: 20px;
	background:rgb(204,204,204);
	float: left;
	margin-top: 10px;
}
/*头部商品分类和搜索推荐*/
.header_hotsearch{
	width: 100%;
	min-width: 1230px;
	margin: 0 auto;
}
.header_hotsearch .hotsearch_content{
	width: 1230px;
	height: 44px;
	margin: 0 auto;
	/*background: pink;*/
}
.header_hotsearch .hotsearch_content #goods_fenlei{
	width: 201px;
	height: 44px;
	float: left;
	background:url(../image/bg04.png) 0 0 no-repeat;
}
.hotsearch_content ul{
	display: block;
	width: 800px;
	height: 44px;
	/*background:blue;*/
	float: left;
	margin-left: 10px;
}
.hotsearch_content ul li a{
	color: black;
}
.hotsearch_content ul li a:hover{
	color: red;
}
.hotsearch_content ul li{
	float: left;
	list-style: none;
	line-height: 44px;
	font-size: 16px;
	margin-left: 10px;
}
.hotsearch_content ul li:nth-child(1){
	margin-left: 0px;
	margin-top:6px;
}
.hotsearch_content ul li:nth-child(2){
	margin-top: 6px;
}

/*中间内容区*/
.content{
	width: 100%;
	height: 100%;
	min-width: 1230px;
	overflow: hidden;
	position: relative;
}
.content .outer{
	width: 100%;
	height: 500px;
	position: relative;
	z-index: -100;
	float: left;
}
.content .outer img{
	width: 100%;
	height: 500px;
}
.content .outer .pic_list li{
	display: none;
}
.content .outer .pic_list .show{
	display: block;
}
.content .outer .num{
	position: absolute;
	bottom: 5%;
	left: 43%;
}
.content .outer .num li{
	float: left;
	width: 25px;
	height: 5px;
	background: rgba(0,0,0,0.3);
	margin-left: 5px; 
	cursor: pointer;
}
.content .outer .num .show{
	background: rgba(255,255,255,0.7);
}


/*轮播图上面的块*/
 #pic_top_Odiv{
	width: 1230px;
	min-width: 1230px;
	/*height: 500px;*/
	margin: 0 auto;
	/*background: transparent;*/
}
#pic_top_Odiv #list_nav{
	width: 249px;
	height: 500px;
	background:rgba(0,0,0,0.4);
	position: relative;
}
#pic_top_Odiv #list_nav ul{
	display: block;
	/*margin-left: 50px;*/
	/*float: left;*/
	position: absolute;
	color:white;
}
#pic_top_Odiv #list_nav ul .name1{
	margin:4px 0px 4px 0px;
	/*padding-top: 1px;*/
	height: 27px;
	font-size: 14px;
	/*margin-left: 50px;*/
	font-family: "微软雅黑";
	width: 249px;
	line-height: 27px;
	text-indent:50px;
}
#pic_top_Odiv #list_nav ul .name1 a{
	color: white;
}
#pic_top_Odiv #list_nav ul .name1:hover{
	background: white;
}
#pic_top_Odiv #list_nav ul .name1:nth-child(1){
	margin-top:0px;
}
#pic_top_Odiv #list_nav ul .name1:nth-child(1):hover{
	color: rgb(229,64,119);
}
#pic_top_Odiv #list_nav ul li:nth-child(1):hover a{
	color: rgb(229,64,119);
}
#pic_top_Odiv #list_nav ul li:nth-child(2):hover{
	color: rgb(66,125,239);
}
#pic_top_Odiv #list_nav ul li:nth-child(2):hover a{
	color: rgb(66,125,239);
}
#pic_top_Odiv #list_nav ul li:nth-child(3):hover{
	color: rgb(99,71,237);
}
#pic_top_Odiv #list_nav ul li:nth-child(3):hover a{
	color: rgb(99,71,237);
}
#pic_top_Odiv #list_nav ul li:nth-child(4):hover{
	color: rgb(229,64,119);
}
#pic_top_Odiv #list_nav ul li:nth-child(4):hover a{
	color: rgb(229,64,119);
}
#pic_top_Odiv #list_nav ul li:nth-child(5):hover{
	color: rgb(99,71,237);
}
#pic_top_Odiv #list_nav ul li:nth-child(5):hover a{
	color: rgb(99,71,237);
}
#pic_top_Odiv #list_nav ul li:nth-child(6):hover{
	color: rgb(66,125,239);
}
#pic_top_Odiv #list_nav ul li:nth-child(6):hover a{
	color: rgb(66,125,239);
}
#pic_top_Odiv #list_nav ul li:nth-child(7):hover{
	color: rgb(250,92,92);
}
#pic_top_Odiv #list_nav ul li:nth-child(7):hover a{
	color: rgb(250,92,92);
}
#pic_top_Odiv #list_nav ul li:nth-child(8):hover{
	color: rgb(247,168,49);
}
#pic_top_Odiv #list_nav ul li:nth-child(8):hover a{
	color: rgb(247,168,49);
}
#pic_top_Odiv #list_nav ul li:nth-child(9):hover{
	color: rgb(247,168,49);
}
#pic_top_Odiv #list_nav ul li:nth-child(9):hover a{
	color: rgb(247,168,49);
}
#pic_top_Odiv #list_nav ul li:nth-child(10):hover{
	color: rgb(66,125,239);
}
#pic_top_Odiv #list_nav ul li:nth-child(10):hover a{
	color: rgb(66,125,239);
}
#pic_top_Odiv #list_nav ul li:nth-child(11):hover{
	color: rgb(221,39,39);
}
#pic_top_Odiv #list_nav ul li:nth-child(11):hover a{
	color: rgb(221,39,39);
}
#pic_top_Odiv #list_nav ul li:nth-child(12):hover{
	color: rgb(66,125,239);
}
#pic_top_Odiv #list_nav ul li:nth-child(12):hover a{
	color: rgb(66,125,239);
}
#pic_top_Odiv #list_nav ul li:nth-child(13):hover{
	color: rgb(247,168,49);
}
#pic_top_Odiv #list_nav ul li:nth-child(13):hover a{
	color: rgb(247,168,49);
}
#pic_top_Odiv #list_nav ul li:nth-child(14):hover{
	color: rgb(59,199,176);
}
#pic_top_Odiv #list_nav ul li:nth-child(14):hover a{
	color: rgb(59,199,176);
}
#pic_top_Odiv #list_nav ul li:nth-child(15):hover{
	color: rgb(221,39,39);
}
#pic_top_Odiv #list_nav ul li:nth-child(15):hover a{
	color: rgb(221,39,39);
}
#pic_top_Odiv #list_nav ul li:nth-child(16):hover a{
	color: rgb(59,199,176);
}
#pic_top_Odiv #list_nav ul li:nth-child(16):hover{
	color: rgb(221,39,39);
}
/*隐藏的盒子*/
#pic_top_Odiv #list_nav .child{
	height: 498px;
	width: 800px;
	position: absolute;
	background: rgba(250,250,250);
	margin-left: 249px;
	margin-top: -29px;
	/*display: none;*/
}
/*隐藏的盒子2*/
 #pic_top_Odiv #list_nav #child2{
	display: block;
	margin-top: -60px;
	display: none;
}
.child .left_child_1{
	width: 600px;
	height: 500px;
	background: white;
	float: left;
}
.child  .left_child_1 span{
	width: 82px;
	height: 56px;
	/*background: red;*/
	display: inline-block;
	color: black;
	float: left;
	font-size: 14px;
	font-family: "微软雅黑";
}

.child  #left_child_2{
	width: 476px;
	height: 56px;
	/*background: blue;*/
	float: left;
	margin-left: 30px;
	border-bottom: 1px dashed rgb(230,230,230);
}
.child  #left_child_2 #child_2{
	display: block;
	width: 476px;
	height: 56px;
	/*background: red;*/
}
.child  #left_child_2 #child_2 .name2{
	float: left;
	/*width: 70px;*/
	padding: 3px;
	font-family: "微软雅黑";
	font-size: 14px;
}
.child  #left_child_2 #child_2 .name2:nth-child(1) a{
	color: rgba(299,64,199);
}
.child  #left_child_2 #child_2 .name2:nth-child(3) a{
	color: rgba(299,64,199);
}
.child  #left_child_2 #child_2 .name2:nth-child(9) a{
	color: rgba(299,64,199);
}
.child  #left_child_2 #child_2 .name2:nth-child(11) a{
	color: rgba(299,64,199);
}
.child  #left_child_2 #child_2 .name2 a{
	color:rgba(102,102,102);
}
.child  #left_child_2 #child_2 .name2 a:hover{
	color:rgba(299,64,199);
}
/**/
.child  .left_child_1 #span1{
	width: 82px;
	height: 56px;
	/*background: red;*/
	display: inline-block;
	color: black;
	clear: left;
	margin-top: 10px;
	font-size: 14px;
	font-family: "微软雅黑";
}
.child  #left_child_3{
	width: 476px;
	height: 56px;
	/*background: blue;*/
	float: left;
	margin-left: 30px;
	margin-top: 10px;
	border-bottom: 1px dashed rgb(230,230,230);
}
.child  #left_child_3 #child_3{
	display: block;
	width: 476px;
	height: 56px;
	/*background: red;*/
}
.child  #left_child_3 #child_3 .name3{
	float: left;
	/*width: 70px;*/
	padding: 3px;
	font-family: "微软雅黑";
	font-size: 14px;
}
.child  #left_child_3 #child_3 .name3:nth-child(1) a{
	color: rgba(299,64,199);

}
.child  #left_child_3 #child_3 .name3:nth-child(2) a{
	color: rgba(299,64,199);

}
.child  #left_child_3 #child_3 .name3:nth-child(3) a{
	color: rgba(299,64,199);
}
.child  #left_child_3 #child_3 .name3 a{
	color:rgba(102,102,102);
}
.child  #left_child_3 #child_3 .name3 a:hover{
	color:rgba(299,64,199);
}
.child  .left_child_1 .span2{
	width: 82px;
	height: 56px;
	/*background: red;*/
	display: inline-block;
	color: black;
	clear: left;
	margin-top: 10px;
	font-size: 14px;
	font-family: "微软雅黑";
}
.child  #left_child_4{
	width: 476px;
	height: 56px;
	/*background: blue;*/
	float: left;
	margin-left: 30px;
	margin-top: 10px;
	border-bottom: 1px dashed rgb(230,230,230);
}
.child  #left_child_4 #child_4{
	display: block;
	width: 476px;
	height: 56px;
}
.child  #left_child_4 #child_4 .name4{
	float: left;
	/*width: 70px;*/
	padding: 3px;
	font-family: "微软雅黑";
	font-size: 14px;
}
.child  #left_child_4 #child_4 .name4:nth-child(1) a{
	color: rgba(299,64,199);

}
.child  #left_child_4 #child_4 .name4:nth-child(3) a{
	color: rgba(299,64,199);

}
.child  #left_child_4 #child_4 .name4:nth-child(4) a{
	color: rgba(299,64,199);

}
.child  #left_child_4 #child_4 .name4:nth-child(7) a{
	color: rgba(299,64,199);

}
.child  #left_child_4 #child_4 .name4 a{
	color:rgba(102,102,102);
}
.child  #left_child_4 #child_4 .name4 a:hover{
	color:rgba(299,64,199);
}

.child  .left_child_1 .span3{
	width: 82px;
	height: 56px;
	/*background: red;*/
	display: inline-block;
	color: black;
	clear: left;
	margin-top: 10px;
	font-size: 14px;
	font-family: "微软雅黑";
}
.child  #left_child_5{
	width: 476px;
	height: 56px;
	/*background: blue;*/
	float: left;
	margin-left: 30px;
	margin-top: 10px;
	border-bottom: 1px dashed rgb(230,230,230);
}
.child  #left_child_5 #child_5{
	display: block;
	width: 476px;
	height: 56px;
}
.child  #left_child_5 #child_5 .name5{
	float: left;
	/*width: 70px;*/
	padding: 3px;
	font-family: "微软雅黑";
	font-size: 14px;
}
.child  #left_child_5 #child_5 .name5:nth-child(1) a{
	color: rgba(299,64,199);

}
.child  #left_child_5 #child_5 .name5:nth-child(2) a{
	color: rgba(299,64,199);
}
.child  #left_child_5 #child_5 .name5:nth-child(5) a{
	color: rgba(299,64,199);
}
.child  #left_child_5 #child_5 .name5 a{
	color:rgba(102,102,102);
}
.child  #left_child_5 #child_5 .name5 a:hover{
	color:rgba(299,64,199);
}
.child  .left_child_1 #span4{
	width: 82px;
	height: 56px;
	/*background: red;*/
	display: inline-block;
	color: black;
	clear: left;
	margin-top: 10px;
	font-size: 14px;
	font-family: "微软雅黑";
}
.child  #left_child_6{
	width: 476px;
	height: 56px;
	/*background: blue;*/
	float: left;
	margin-left: 30px;
	margin-top: 10px;
	border-bottom: 1px dashed rgb(230,230,230);
}
.child  #left_child_6 #child_6{
	display: block;
	width: 476px;
	height: 56px;
}
.child  #left_child_6 #child_6 .name6{
	float: left;
	/*width: 70px;*/
	padding: 3px;
	font-family: "微软雅黑";
	font-size: 14px;
}
.child  #left_child_6 #child_6 .name6:nth-child(1) a{
	color: rgba(299,64,199);

}
.child  #left_child_6 #child_6 .name6:nth-child(3) a{
	color: rgba(299,64,199);

}
.child  #left_child_6 #child_6 .name6:nth-child(4) a{
	color: rgba(299,64,199);

}
.child  #left_child_6 #child_6 .name6 a{
	color:rgba(102,102,102);
}
.child  #left_child_6 #child_6 .name6 a:hover{
	color:rgba(299,64,199);
}
.child  .left_child_1 .span5{
	width: 82px;
	height: 56px;
	/*background: red;*/
	display: inline-block;
	color: black;
	clear: left;
	margin-top: 10px;
	font-size: 14px;
	font-family: "微软雅黑";
}
.child  #left_child_7{
	width: 476px;
	height: 40px;
	/*background: blue;*/
	float: left;
	margin-left: 30px;
	margin-top: 10px;
	border-bottom: 1px dashed rgb(230,230,230);
}
.child  #left_child_7 #child_7{
	display: block;
	width: 476px;
	height: 40px;
}
.child  #left_child_7 #child_7 .name7{
	float: left;
	/*width: 70px;*/
	padding: 3px;
	font-family: "微软雅黑";
	font-size: 14px;
}
.child  #left_child_7 #child_7 .name7 a{
	color:rgba(102,102,102);
}
.child  #left_child_7 #child_7 .name7 a:hover{
	color:rgba(299,64,199);
}
.child  .left_child_1 #span6{
	width: 82px;
	height: 40px;
	/*background: red;*/
	display: inline-block;
	color: black;
	clear: left;
	margin-top: 10px;
	font-size: 14px;
	font-family: "微软雅黑";
}
.child  #left_child_8{
	width: 476px;
	height: 54px;
	/*background: blue;*/
	float: left;
	margin-left: 30px;
	margin-top: 10px;
	border-bottom: 1px dashed rgb(230,230,230);
}
.child  #left_child_8 #child_8{
	display: block;
	width: 476px;
	height: 54px;
}
.child  #left_child_8 #child_8 .name8{
	float: left;
	/*width: 70px;*/
	padding: 3px;
	font-family: "微软雅黑";
	font-size: 14px;
}
.child  #left_child_8 #child_8 .name8 a{
	color:rgba(102,102,102);
}
.child  #left_child_8 #child_8 .name8 a:hover{
	color:rgba(299,64,199);
}
.child  .left_child_1 #span7{
	width: 82px;
	height: 20px;
	/*background: red;*/
	display: inline-block;
	color: black;
	clear: left;
	margin-top: 10px;
	font-size: 14px;
	font-family: "微软雅黑";
}
.child  #left_child_9{
	width: 476px;
	height: 30px;
	/*background: blue;*/
	float: left;
	margin-left: 30px;
	margin-top: 10px;
}
.child  #left_child_9 #child_9{
	display: block;
	width: 476px;
	height: 30px;
}
.child  #left_child_9 #child_9 .name9{
	float: left;
	/*width: 70px;*/
	padding: 3px;
	font-family: "微软雅黑";
	font-size: 14px;
}
.child  #left_child_9 #child_9 .name9 a{
	color:rgba(102,102,102);
}
.child  #left_child_9 #child_9 .name9 a:hover{
	color:rgba(299,64,199);
}

/*右面*/
.child .right_child_1{
	width: 192px;
	height: 500px;
	background: rgba(250,250,250);
	float: right;
}
.right_child_1 span{
	display: inline-block;
	width: 91px;
	height: 46px;
	overflow: hidden;
	float: left;
	background: white;
	margin: 4px 0px 0px 4px;
}
.right_child_1 span img{
	width: 91px;
	height: 46px;
	overflow: hidden;
}
/*隐藏盒子的显示隐藏*/
#pic_top_Odiv #list_nav ul li:nth-child(1):hover #child{
	display: block;
}
/*内容顶部logo区*/
.content  #logo_top{
	width: 100%;
	min-width: 1230px;
	overflow: hidden;
}
 #logo_top  #logo_img{
 	width: 600px;
 	height: 40px;
 	margin: 30px auto 30px;

 }
 .content #content_img{
 	width: 1230px;
 	height: 269px;
 	min-width: 1230px;
 	margin: 0 auto;
 }
 .content #content_img span{
 	width: 238px;
 	height: 269px;
 	display: block;
 	float: left;
 	margin-left: 10px;	
 }
 .content #content_img span img{
 	width: 238px;
 	height: 269px;
 	overflow: hidden;
 }
 .content #content_img #one{
 	margin-left: 0px;
 }




 /*品牌展示部分*/
 .content #fashion{
 	width: 1230px;
 	height: 370px;
 	margin: 30px auto 0px;
 	/*background: pink;*/
 }
 /*品牌展示左面*/
 #fashion #fashion_left{
 	width:234px;
 	height: 370px;
 	background: transparent;
 	float: left;
 	position: relative;
 }
 #fashion_left #left_top{
 	width: 234px;
 	height: 54px;
 	background: white;
 }
 #fashion_left #left_top span{
 	display: inline-block;
 	line-height: 54px;
 	margin-left: 5px;
 	font-size: 16px;
 	color: black;
 	font-family: "微软雅黑";
 	font-weight: bold;
 }
 #fashion_left #left_top #top_one{
 	font-size: 14px;
 }
#fashion_left #left_top #top_two a{
	font-size: 14px;
	font-weight: normal;
	color:#ccc; 
}
#fashion_left #left_bottom{
	width: 234px;
	height: 316px;
	overflow: hidden;
	position: relative;
}
#fashion_left #left_bottom img{
	width: 234px;
	height: 316px;
	overflow: hidden;
}
.zhezhao1{
	width: 234px;
	height: 316px;
	background: rgba(255,255,255,0.1);
	position: absolute;
	left:0;
	top: 54px;
	display: none;
}
#fashion_left #left_bottom:hover .zhezhao1{
	display: block;
}


/*品牌展示中间部分*/
.content #fashion_center{
	width: 485px;
	height: 370px;
	background: transparent;
	float: left;
	margin-left: 13px;
}
#fashion_center #center_top{
 	width: 485px;
 	height: 54px;
 	background: white;
 }
 #fashion_center #center_top span{
 	display: inline-block;
 	line-height: 54px;
 	margin-left: 5px;
 	font-size: 16px;
 	color: black;
 	font-family: "微软雅黑";
 	font-weight: bold;
 }
 #fashion_center #center_top #center_one{
 	float: right;
 	font-size: 16px;
 	color: #ccc;
 }
 #fashion_center #center_top #center_two{
 	font-size: 15px;
 	margin-left: 10px;
 }
 #fashion_center #center_bottom{
 	height: 316px;
 	width: 485px;
 	overflow: hidden;
 }
 #fashion_center #center_bottom img{
 	width: 485px;
 	height: 316px;
 	overflow: hidden;
 }
 /*小图片排布部分*/
 .content #small_pic{
 	width: 1230px;
 	height: 326px;
 	margin: 10px auto 0px;
 	/*background: pink;*/
 }
 #small_pic #pic_small{
 	width: 1230px;
 	height: 326px;
 	display: block;
 	position: relative;
 }
 #small_pic #pic_small .small{
 	width: 122px;
 	height: 108px;
 	float: left;
 	background: white;
 	margin: 0px 0px 1px 1px;
 	
 }
 #small_pic #pic_small .small img{
 	width: 100px;
 	height: 50px;
 	overflow: hidden;
 	margin-top:29px;
 	margin-left: 11px;
 }

 /**/
 #small_pic #pic_small .sm1{
 	position: absolute;
	width: 122px;
	height: 108px;
	background: rgba(0,0,0,0.7);
	text-overflow: ellipsis;
 }
 #small_pic #pic_small .sm1_1{
	position: absolute;
	left:0;
	top: 0;
	display: none;
 }
 .sm1 .sm_span{
 	display: block;
	width: 61px;
	height: 20px;
	margin-left: 30px;
	margin-top: 30px;
	text-align: center;
	line-height: 20px;
	color: white;
 }
 .sm1 .span_1{
 	margin-top: 10px;
 	border-radius: 20px;
 	background: red;
 	color: white;
 }

 /**/
 #small_pic #pic_small .sm1_2{
 	position: absolute;
 	top: 0px;
 	left: 123px;
 	display:none;
 }
 #small_pic #pic_small .sm1_3{
 	position: absolute;
 	top: 0px;
 	left: 246px;
 	display:none;
 }
 #small_pic #pic_small .sm1_4{
 	position: absolute;
 	top: 0px;
 	left: 369px;
 	display:none;
 }
 #small_pic #pic_small .sm1_5{
 	position: absolute;
 	top: 0px;
 	left: 492px;
 	display:none;
 }
 #small_pic #pic_small .sm1_6{
 	position: absolute;
 	top: 0px;
 	left: 615px;
 	display:none;
 }
 #small_pic #pic_small .sm1_7{
 	position: absolute;
 	top: 0px;
 	left: 738px;
 	display:none;
 }
 #small_pic #pic_small .sm1_8{
 	position: absolute;
 	top: 0px;
 	left: 861px;
 	display:none;
 }
 #small_pic #pic_small .sm1_9{
 	position: absolute;
 	top: 0px;
 	left: 984px;
 	display:none;
 }
 #small_pic #pic_small .sm1_10{
 	position: absolute;
 	top: 0px;
 	left: 1107px;
 	display:none;
 }
 #small_pic #pic_small .sm1_11{
 	position: absolute;
 	top: 109px;
 	left: 0px;
 	display:none;
 }
 #small_pic #pic_small .sm1_12{
 	position: absolute;
 	top: 109px;
 	left: 123px;
 	display:none;
 }
 #small_pic #pic_small .sm1_13{
 	position: absolute;
 	top: 109px;
 	left: 246px;
 	display:none;
 }
 #small_pic #pic_small .sm1_14{
 	position: absolute;
 	top: 109px;
 	left:  369px;
 	display:none;
 }
 #small_pic #pic_small .sm1_15{
 	position: absolute;
 	top: 109px;
 	left:  492px;
 	display:none;
 }
  #small_pic #pic_small .sm1_16{
 	position: absolute;
 	top: 109px;
 	left:  615px;
 	display:none;
 }
 #small_pic #pic_small .sm1_17{
 	position: absolute;
 	top: 109px;
 	left:  738px;
 	display:none;
 }
 #small_pic #pic_small .sm1_18{
 	position: absolute;
 	top: 109px;
 	left:  861px;
 	display:none;
 }
 #small_pic #pic_small .sm1_19{
 	position: absolute;
 	top: 109px;
 	left:  984px;
 	display:none;
 }
 #small_pic #pic_small .sm1_20{
 	position: absolute;
 	top: 109px;
 	left:  1107px;
 	display:none;
 }
 #small_pic #pic_small .sm1_21{
 	position: absolute;
 	top: 218px;
 	left:  0px;
 	display:none;
 }
 #small_pic #pic_small .sm1_22{
 	position: absolute;
 	top: 218px;
 	left:  123px;
 	display:none;
 }
 #small_pic #pic_small .sm1_23{
 	position: absolute;
 	top: 218px;
 	left:  246px;
 	display:none;
 }
 #small_pic #pic_small .sm1_24{
 	position: absolute;
 	top: 218px;
 	left:  369px;
 	display:none;
 }
 #small_pic #pic_small .sm1_25{
 	position: absolute;
 	top: 218px;
 	left:   492px;
 	display:none;
 }
 #small_pic #pic_small .sm1_26{
 	position: absolute;
 	top: 218px;
 	left:   615px;
 	display:none;
 }
 #small_pic #pic_small .sm1_27{
 	position: absolute;
 	top: 218px;
 	left: 738px;
 	display:none;
 }
 #small_pic #pic_small .sm1_28{
 	position: absolute;
 	top: 218px;
 	left: 861px;
 	display:none;
 }
 #small_pic #pic_small .sm1_29{
 	position: absolute;
 	top: 218px;
 	left: 984px;
 	display:none;
 }
 #small_pic #pic_small .small i{
 	width: 40px;
 	height: 40px;
 	position: absolute;
 	top: 50%;
 	left: 50%;
	margin-left: -20px;
	margin-top: -30px;
	font-size: 30px;
	text-align: center;
	line-height: 38px;
	border-radius: 20px;
 }
 #small_pic #pic_small .small span{
 	width: 122px;
 	height: 54px;
 	float: left;
 	margin-top: 37px;
 	line-height: 54px;
 	text-align: center;
 	font-size: 14px;
 	color: #aaa;
 	cursor: pointer;
 }


 /*天猫超市内容部分*/
 .tm_market{
 	width: 1230px;
 	min-width: 1230px;
 	/*height: 665px;*/
 	overflow: hidden;
 	margin: 20px auto 20px;
 }
  .market_top{
 	width: 1230px;
 	height: 25px;
	float: left;
 }
 .tm_market .market_top span{
 	width: 214px;
 	height: 25px;
 	display: block;
 	float: left;
 }
 .tm_market .market_top span img{
 	width: 214px;
 	height: 25px;
 	overflow: hidden;
 }
 .market_top .market_list{
 	display: block;
 	width: 672px;
 	height: 25px;
 	float: right;

 }
 .market_top .market_list .name12{
 	line-height: 25px;
 	font-family: "微软雅黑";
 	float: left;
 	font-size: 16px;
 	margin-left: 20px;
 }
 .market_top .market_list .name12 a{
 	color: black;
 }
 .market_top .market_list .name12 a:hover{
 	text-decoration:underline;
 	color: black;
 }
 /*下部图片部分*/
 .tm_market .market_pic{
 	width: 1230px;
 	height: 618px;
 	float: left;
 	margin-top: 21px;
 	position: relative;
 } 
 .market_pic .le_pi{
 	width: 234px;
 	height: 618px;
 	float: left;
 }
  .le_pi span{
 	width: 234px;
 	height: 618px;
 	overflow: hidden;
 	display: block;
 }
 .le_pi span img{
 	width: 234px;
 	height: 618px;
 	float: left;
 }
 .market_pic .le_box{
 	width: 180px;
 	height: 66px;
 	background: rgba(0,0,0,0.6);
 	position: absolute;
 	left:0;
 	top:434px;
 	z-index: 9999;
 }
 .le_box .le_box_left{
 	width: 70px;
 	height: 66px;
 	background: rgb(0,0,0);
 	float: left;
 	text-align: center;
 	color: white;
 	font-size: 16px;
 }
 .le_box .le_box_left p{
 	margin-top: 10px;
 }
 .le_box .le_box_right{
 	float: right;
 	margin-right: 30px;
 	height: 66px;
 }
 .le_box .le_box_right span{
 	margin-top: 10px;
 	display: block;
 	font-size: 16px;
 	color: white;
 }
 .market_pic .le_png{
 	width: 40px;
 	height: 40px;
 	border-radius: 40px;
 	position: absolute;
 	top: 134px;
 	left: 170px;
 	z-index: 9999;
 }
 .market_pic .le_png img{
 	width: 40px;
 	height: 40px;
 	position: absolute;
 	left: 6px;
 	top: 430px;
 }
 /*右面*/
 .market_pic .ri_pi{
 	width: 980px;
 	height: 618px;
 	float: right;
 }
  .market_pic .pi_list{
  	width: 980px;
  	height: 618px;
  	float: left;
  	position: relative;
  }
  .market_pic .pi_list .name13{
  	width: 234px;
  	height: 300px;
  	background: white;
  	float: left;
  	margin-left: 11px;
  }
  .market_pic .pi_list .name13:nth-child(5){
  	margin-top: 18px;
  }
  .market_pic .pi_list .name13:nth-child(6){
  	margin-top: 18px;
  }
  .market_pic .pi_list .name13:nth-child(7){
  	margin-top: 18px;
  }
  .market_pic .pi_list .name13:nth-child(8){
  	margin-top: 18px;
  }
.market_pic .pi_list .name13 span{
	display: block;
	width: 185px;
	height: 185px;
}
.market_pic .pi_list .name13 span img{
	width: 185px;
	height: 185px;
	margin-left: 24px;
}
.pi_list div{
	width: 232px;
	height: 300px;
	border:1px solid red;
	position: absolute;
	left: 11px;
	top:0;
	display: none;
}
.market_pic .pi_list .name13 p{
	width: 185px;
	height: 20px;
	line-height: 20px;
	margin-left: 24px;
	text-align: center;
	color: rgb(51,51,51);
	font-size: 18px;
	margin-top: 10px;
	font-family: "微软雅黑";
}
.market_pic .pi_list .name13 .price{
	color: red;
	font-size: 20px;
}


/*天猫国际*/
 .list_ag{
	display: block;
 	width: 255px;
 	height: 25px;
 	float: right;
}
 .list_ag .name15{
 	line-height: 25px;
 	font-family: "微软雅黑";
 	float: left;
 	font-size: 16px;
 	margin-left: 20px;
 }
 .list_ag .name15 a{
 	color: black;
 }
 .list_ag .name15 a:hover{
 	text-decoration:underline;
 	color: black;
 }
 /*图片 logo*/
 .content .logo3{
 	width: 100%;
 	min-width: 1230px;

 }
 .logo3 #logo3_pic{
	width: 1230px;
	height: 90px;
	margin: 20px auto 0px;
 }
 #logo3_pic img{
 	width: 1230px;
 	height: 90px;
 }
 .market_top span{
 	display: inline;
 	float: left;
 	line-height: 25px;
 	font-family: "微软雅黑";
 	font-size: 16px;
 }
 .market_top #sp_box{
 	height: 25px;
 	width: 6px;
 	background: rgba(0,0,0,0.7);
 }
 .market_top #sp_con1{
 	margin-left: 20px;
 	width:70px;
 }
 .market_top #sp_con2{
 	margin-left: 20px;
 	width:224px;
 }
 .list_ag1{
 	/*width: 621px;*/
 	height: 25px;
 	float: right;
 }
 .list_ag1 .name16{
 	line-height: 25px;
 	font-family: "微软雅黑";
 	float: left;
 	font-size: 16px;
 	margin-left: 20px;
 }
  .list_ag1 .name16 a{
 	color: black;
 }
 .list_ag1 .name16 a:hover{
 	text-decoration:underline;
 	color: black;
 }
 .le_box #goods{
 	margin-top: 24px;
 }
 /*潮流电玩*/
 .list_ag1 .name17{
 	line-height: 25px;
 	font-family: "微软雅黑";
 	float: left;
 	font-size: 16px;
 	margin-left: 20px;
 }

 .list_ag1 .name17 a{
 	color: black;
 }
 .list_ag1 .name17 a:hover{
 	text-decoration:underline;
 	color: black;
 }
 /*图片 logo*/
  .lo_3{
 	width: 100%;
 	min-width: 1230px;
 }
 .lo_3 #lo_3_pic{
 	width: 1230px;
	height: 90px;
	margin: 20px auto 30px;
	background: pink;
 }
 .lo_3 #lo_3_pic img{
 	width: 100%;
 	height: 90px;
 }

 /*居家生活*/
 .list_ag1 .name18{
 	line-height: 25px;
 	font-family: "微软雅黑";
 	float: left;
 	font-size: 16px;
 	margin-left: 20px;
 }

 .list_ag1 .name18 a{
 	color: black;
 }
 .list_ag1 .name18 a:hover{
 	text-decoration:underline;
 	color: black;
 }
 /*打造爱巢*/
 .list_ag1 .name19{
 	line-height: 25px;
 	font-family: "微软雅黑";
 	float: left;
 	font-size: 16px;
 	margin-left: 20px;
 }

 .list_ag1 .name19 a{
 	color: black;
 }
 .list_ag1 .name19 a:hover{
 	text-decoration:underline;
 	color: black;
 }
 /*户外出行*/
 .list_ag1 .name20{
 	line-height: 25px;
 	font-family: "微软雅黑";
 	float: left;
 	font-size: 16px;
 	margin-left: 20px;
 }

 .list_ag1 .name20 a{
 	color: black;
 }
 .list_ag1 .name20 a:hover{
 	text-decoration:underline;
 	color: black;
 }

 /*楼层内容区*/
 .content .floor{
 	width: 1230px;
 	min-width: 123px;
 	margin: 40px auto 0px;
 }
 .floor .floor_line{
 	width: 1230px;
 	height: 45px;
 }
 .floor_line .line_con{
 	height: 45px;
 	width: 207px;
 	margin: 0 auto;
 	line-height: 20px;
 }
 .floor_line .line_con span{
 	display: inline-block;
 	line-height: 20px;
 }
 .floor_line .line_con #con_sp1{
 	width: 50px;
 	height: 1px;
 	background: #aaa;
 	float: left;
 	margin-top: 12px;
 }
 .floor_line .line_con #con_sp2{
 	width: 23px;
 	height: 23px;
 	float: left;
 	margin-left: 10px;
 	background: url(../image/khx.png) 0 0 no-repeat;
 	background-position: 0 5px;
 }
 .floor_line .line_con #con_sp3{
 	font-size: 16px;
 	float: left;
 	color: rgb(102,102,102);
 	margin-top: 2px;
 }
 .floor_line .line_con #con_sp4{
 	width: 50px;
 	height: 1px;
 	background: #aaa;
 	float: left;
 	margin-top: 12px;
 	margin-left: 8px;
 }
 .floor .floor_con{
 	width: 1230px;
 	height: auto;
 }
 .floor_con .floor_list{
 	width: 1230px;
  	/*height: 618px;*/
  	float: left;
  	position: relative;
 }
 /**/
 .floor_con .floor_list .name20{
	width: 234px;
  	height: 300px;
  	background: white;
  	float: left;
  	margin: 0px 12px  10px 0px;
 }
.floor_con .floor_list .name20 span{
	display: block;
	width: 185px;
	height: 185px;
}
.floor_con .floor_list .name20 span img{
	width: 185px;
	height: 185px;
	margin-left: 24px;
}
.floor_list div{
	width: 232px;
	height: 300px;
	border:1px solid red;
	position: absolute;
	left: 11px;
	top:0;
	display: none;
}
.floor_con .floor_list .name20 p{
	width: 185px;
	height: 20px;
	line-height: 20px;
	margin-left: 24px;
	text-align: center;
	color: rgb(51,51,51);
	font-size: 18px;
	margin-top: 10px;
	font-family: "微软雅黑";
}
.floor_con .floor_list .name20 .price{
	color: red;
	font-size: 20px;
}
/*页面加载完毕*/
.end{
	width: 1230px;
	min-width: 1230px;
	margin: 20px auto 10px;
}
.end .end_img{
	width: 62px;
	height: 35px;
	margin: 0 auto;
	background:cyan;
	background:url(../image/115.png) 0 0 no-repeat;
}
/*底部内容部分*/
.bott{
	width: 100%;
	min-width: 1230px;
	margin: 0 auto;
	background: white;
}
.bott .bott_top{
	width: 100%;
	min-width: 1190px;
	height: 150px;
	border-top:1px solid rgb(209,215,220);
	margin: 0px auto;
}
.bott_top .bott_img{
	width: 1190px;
	height: 100px;
	margin: 25px auto;
	background:url(../image/116.jpg) 0 0 no-repeat;
}
.bott_img a{
	display: block;
	float: left;
	width: 297px;
	height: 100px;
	text-indent: -1000em;
	outline: 0;
	color: #000;
	text-decoration:none;
}
.bott .bott_middle{
	width: 1190px;
	height: 190px;
	padding-top: 22px;
	margin: auto;
	border-top: 1px solid #ededed;
	background: url(../image/117.jpg) 45px bottom no-repeat;
}
.bott_middle dl{
	float: left;
	width: 186px;
	margin-left: 52px;
}
.bott_middle dl dt{
	color:#646464;
	font-size: 16px;
	font-weight: 700;
	height: 30px;
	line-height: 30px;
	text-align: left;
}
.bott_middle dl a{
	width: 100px;
	overflow: hidden;
	text-align: left;
	height: 20px;
	line-height: 20px;
	color: #8b8b8b;
	display: block;
}
.bott_middle dl .mobile{
	width: 105px;
	height: 105px;
	line-height: 105px;
	text-align: center;
}


/*底部*/
#footer{
	width: 100%;
	height: 220px;
	/*background: red;*/
	margin:0 auto;
	min-width: 1190px;
	background: black;
	border-top: 2px solid rgb(255,0,54);
}
#footer #footer_content_top{
	width: 1190px;
	min-width: 1190px;
	/*background: green;*/
	margin:  10px auto 0px;
}
#footer #footer_content_top #span1{
	margin-left: 0px;
}
#footer #footer_content_top span{
	display: inline-block;
	margin-left: 5px;
}
#footer #footer_content_top span a{
	color: white;
}
#footer #footer_content_top span a:hover{
	text-decoration: none;
}
#footer #footer_content_middle{
	width: 1190px;
	min-width: 1190px;
	margin:  20px auto 0px;

}
#footer #footer_content_middle #span2{
	margin-left: 0px;
}
#footer #footer_content_middle span{
	display: inline-block;;
	margin-left: 10px;
	border-right: 1px solid white;
	text-align: left;
	padding-right: 4px;
}
#footer #footer_content_middle #span7{
	border-right: none;
}
#footer #footer_content_middle span a{
	color: white;
}
#footer #footer_content_middle span a:hover{
	text-decoration:none;
}
#footer #footer_content_bottom1{
	width: 1190px;
	min-width: 1190px;
	margin:  15px auto 0px;
}
#footer #footer_content_bottom1 #span3{
	margin-left: 0px;
}
#footer #footer_content_bottom1 span{
	display: inline-block;
	margin-left: 80px;
	color: rgb(102,102,102);
}
#footer #footer_content_bottom1 p{
	display: inline-block;
	color: rgb(153,153,153);
}
#footer #footer_content_bottom1 .span4,.span5{
	color:rgb(153,153,153);
}
#footer #footer_content_bottom1 .span5{
	color:rgb(153,153,153);
}
#footer #footer_content_bottom2{
	width: 1190px;
	min-width: 1190px;
	margin:  15px auto 0px;
	position: relative;
}
#footer #footer_content_bottom2 #span6{
	margin-left: 0px;
}
#footer #footer_content_bottom2 span{
	display: inline-block;
	margin-left: 80px;
	color: rgb(102,102,102);
}
#footer #footer_content_bottom2 span p{
	width: 20px;
	height: 20px;
	position: absolute;
	top: -5px;
	left: 850px;
	/*margin-top: -10px;*/
	display: inline-block;
	background: url(../image/login_bottom.png) no-repeat;
}
 #footer #footer_content_bottom3{
 	width: 1190px;
	min-width: 1190px;
	margin:  10px auto 0px;
	position: relative;
 }
 #footer #footer_content_bottom3 span{
	display: inline-block;
	margin-left: 5px;
	color: rgb(102,102,102);
}
#footer #footer_content_bottom4{
 	width: 1190px;
	min-width: 1190px;
	margin:  5px auto;
	position: relative;
 }
 #footer #footer_content_bottom4 span{
	display: inline-block;
	margin-left: 0px;
	color: rgb(102,102,102);
}
#footer #footer_content_bottom5{
	width: 1190px;
	min-width: 1190px;
	margin: 10px auto 10px;
	height: 30px;
	position: relative;
}
#footer #footer_content_bottom5 span{
	display: inline-block;
	width: 73px;
	height: 30px;
	margin-right: 10px;
}



/*楼层菜单栏*/
#floor_menu{
	width: 40px;
	display: none; 
	list-style: none;
	position: fixed;
	bottom:50px;
	left:50%;
	margin-left:-669px;
	z-index: 1;
}
.name100,.floor_menu{
	width: 36px;
	height: 36px;
	text-align: center;
	/*margin:2px 2px;*/
	font-size:12px;
	color:#fff;
	cursor:pointer;
	background:rgba(0,0,0,0.4);
	box-sizing:border-box;
	padding:2px 5px;
	font-family: "Microsoft YaHei", "SimSun", '\5b8b\4f53', sans-serif;
}
#floor_menu .name100:nth-child(1){
	line-height: 34px;
}


/*右侧黑色条*/
#body_right{
	width: 35px;
	height: 100%;
	position: fixed;
	right: 0px;
	top: 0px;
	background:rgb(0,0,0);
	display: block;
}

/*楼层菜单*/
.floor_menu:nth-of-type(2):hover{background:#64c333;}
.floor_menu:nth-of-type(3):hover{background:#000;}
.floor_menu:nth-of-type(4):hover{background:#EA5F8D;}
.floor_menu:nth-of-type(5):hover{background:#0AA6E8;}
.floor_menu:nth-of-type(6):hover{background:#64c333;}
.floor_menu:nth-of-type(7):hover{background:#F15453;}
.floor_menu:nth-of-type(8):hover{background:#19C8A9;}
.floor_menu:nth-of-type(9):hover{background:#000;}

.floor_menu:nth-of-type(2).current{background:#64c333;}
.floor_menu:nth-of-type(3).current{background:#000;}
.floor_menu:nth-of-type(4).current{background:#EA5F8D;}
.floor_menu:nth-of-type(5).current{background:#0AA6E8;}
.floor_menu:nth-of-type(6).current{background:#64c333;}
.floor_menu:nth-of-type(7).current{background:#F15453;}
.floor_menu:nth-of-type(8).current{background:#19C8A9;}
.floor_menu:nth-of-type(9).current{background:#000;}
